/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/10/21, 14:30:00
    Author     : guest1Day
*/


.itemFooter{
    position: absolute;
    width: 100%;
    margin-bottom: 3px;
    margin-left: 5px;
    font-size: 14px;
}

.itemWrapper{
    display: table;
    width: 100%;
    margin-left: 15px;
    margin-bottom: 30px;
}

.item{
    background-image: url(../Image/regal.png);
    border-style: dotted;
    border-width: 1px;
    float:left;
    padding:6px;
    width:18%;
    position: relative;
    display: table-cell;
    overflow: hidden;
    height: 420px;
}



.itemImage{
    display: block;
    width: 80%;
    padding:10px;
    margin: 0 auto;
}
